Repository AdultOfNineteen/WINEY-iOS, pull requests merged in 2023-08, with the labels that each got.

#7 [WIN-47][#4]️🔨SignUpButton->WineyConfirmButton
  Projects/WineyKit/Sources/Button/ButtonStyle/WineyConfirmButtonStyle.swift
  Projects/WineyKit/Sources/Button/TasteCheckButton.swift
  Projects/WineyKit/Sources/Button/WineyConfirmButton.swift
Labels: 🎨WineyKit

#12 [Tuist][#2]️🔥App 타겟 SwiftLint 모듈 누락
  Projects/App/Project.swift
Labels: Tuist

#14 [WIN-62][#8]✨AppRoot 포함 초기 경로설정 완료
  Projects/App/Sources/AppRoot/Coordinator/AppCoordinatorCore.swift
  Projects/App/Sources/AppRoot/Coordinator/AppCoordinatorView.swift
  Projects/App/Sources/AppRoot/Coordinator/AppScreenCore.swift
  Projects/App/Sources/AppRoot/Model/LoginPathType.swift
  Projects/App/Sources/AppRoot/RootView/WineyApp.swift
  Projects/App/Sources/AppRoot/Screen/SplashCore.swift
  Projects/App/Sources/AppRoot/Screen/SplashView.swift
  Projects/App/Sources/AppRoot/WineyApp.swift
  Projects/App/Sources/Feature/Auth/Coordinator/AuthCoordinatorCore.swift
  Projects/App/Sources/Feature/Auth/Coordinator/AuthCoordinatorView.swift
  Projects/App/Sources/Feature/Auth/Coordinator/AuthScreenCore.swift
  Projects/App/Sources/Feature/Auth/Screen/Auth/AuthCore.swift
  Projects/App/Sources/Feature/Auth/Screen/Auth/AuthView.swift
  Projects/App/Sources/Feature/Auth/Screen/SignUp/ContentView.swift
  Projects/App/Sources/Feature/Auth/Screen/SignUp/SignUpCore.swift
  Projects/App/Sources/Feature/Auth/Screen/SignUp/SignUpView.swift
  Projects/App/Sources/Feature/Tab/Main/Coordinator/MainCoordinatorCore.swift
  Projects/App/Sources/Feature/Tab/Main/Coordinator/MainCoordinatorView.swift
  Projects/App/Sources/Feature/Tab/Main/Coordinator/MainScreenCore.swift
  Projects/App/Sources/Feature/Tab/Main/Screen/MainCore.swift
  Projects/App/Sources/Feature/Tab/Main/Screen/MainView.swift
  Projects/App/Sources/Feature/Tab/Screen/TabBarCore.swift
  Projects/App/Sources/Feature/Tab/Screen/TabBarView.swift
  Projects/App/Sources/Service/User/UserDefaultsService.swift
Labels: 🌲AppRoot

#15 [Tuist][#2]️🔥ConbinExt, TCA, TCACoordinator 버전 고정
  Tuist/Dependencies.swift
Labels: Tuist

#22 App/tuist/dependencies
  Projects/App/Project.swift
  Projects/App/Sources/App/Coordinator/AppCoordinatorCore.swift
  Projects/App/Sources/App/Coordinator/AppCoordinatorView.swift
  Projects/App/Sources/App/Coordinator/AppScreenCore.swift
  Projects/App/Sources/App/Root/AppDelegate.swift
  Projects/App/Sources/App/Root/WineyApp.swift
  Projects/App/Sources/App/View/SplashCore.swift
  Projects/App/Sources/App/View/SplashView.swift
  Projects/App/Sources/AppRoot/ContentView.swift
  Projects/App/Sources/AppRoot/WineyApp.swift
  Projects/App/Sources/Core/User/UserDefaultsService.swift
  Projects/App/Sources/Feature/Auth/Coordinator/AuthCoordinatorCore.swift
  Projects/App/Sources/Feature/Auth/Coordinator/AuthCoordinatorView.swift
  Projects/App/Sources/Feature/Auth/Coordinator/AuthScreenCore.swift
  Projects/App/Sources/Feature/Auth/View/BottomSheet/CodeSignUpBottomSheetContent.swift
  Projects/App/Sources/Feature/Auth/View/BottomSheet/CodeSignUpBottomSheetFooter.swift
  Projects/App/Sources/Feature/Auth/View/BottomSheet/CodeSignUpBottomSheetHeader.swift
  Projects/App/Sources/Feature/Auth/View/Login/LoginCore.swift
  Projects/App/Sources/Feature/Auth/View/Login/LoginView.swift
  Projects/App/Sources/Feature/Auth/View/SignUp/CodeSignUpCore.swift
  Projects/App/Sources/Feature/Auth/View/SignUp/CodeSignUpView.swift
  Projects/App/Sources/Feature/Auth/View/SignUp/FlavorSignUpCore.swift
  Projects/App/Sources/Feature/Auth/View/SignUp/FlavorSignUpView.swift
  Projects/App/Sources/Feature/Auth/View/SignUp/PhoneSignUpCore.swift
  Projects/App/Sources/Feature/Auth/View/SignUp/PhoneSignUpView.swift
  Projects/App/Sources/Feature/Auth/View/SignUp/WelcomeSignUpCore.swift
  Projects/App/Sources/Feature/Auth/View/SignUp/WelcomeSignUpView.swift
  Projects/App/Sources/Feature/Tab/Main/Coordinator/MainCoordinatorCore.swift
  Projects/App/Sources/Feature/Tab/Main/Coordinator/MainCoordinatorView.swift
  Projects/App/Sources/Feature/Tab/Main/Coordinator/MainScreenCore.swift
  Projects/App/Sources/Feature/Tab/Main/View/MainCore.swift
  Projects/App/Sources/Feature/Tab/Main/View/MainView.swift
  Projects/App/Sources/Feature/Tab/View/TabBarCore.swift
  Projects/App/Sources/Feature/Tab/View/TabBarView.swift
  Projects/Utils/Project.swift
  Projects/WineyKit/Project.swift
  Projects/WineyKit/Sources/BottonSheet/BottomSheet.swift
  Projects/WineyKit/Sources/Button/ButtonStyle/FlavorCheckButtonStyle.swift
  Projects/WineyKit/Sources/Button/ButtonStyle/WineyConfirmButtonStyle.swift
  Projects/WineyKit/Sources/Button/FlavorCheckButton.swift
  Projects/WineyKit/Sources/Button/WineyConfirmButton.swift
  Projects/WineyKit/Sources/NavigationBar/NavigationBar.swift
  Projects/WineyKit/Sources/TextField/SignUpTextField.swift
  Projects/WineyKit/Sources/Utils/Font.swift
Labels: Tuist

#24 [WIN-70][#23]✨TabBar 로직 완료
  Projects/App/Sources/App/Coordinator/AppCoordinatorCore.swift
  Projects/App/Sources/Feature/Tab/Main/Coordinator/MainCoordinator/MainCoordinatorCore.swift
  Projects/App/Sources/Feature/Tab/Main/Coordinator/MainCoordinator/MainCoordinatorView.swift
  Projects/App/Sources/Feature/Tab/Main/Coordinator/MainCoordinator/MainScreenCore.swift
  Projects/App/Sources/Feature/Tab/Main/Coordinator/WritingNoteCoordinator/WritingNoteCoordinatorCore.swift
  Projects/App/Sources/Feature/Tab/Main/Coordinator/WritingNoteCoordinator/WritingNoteCoordinatorView.swift
  Projects/App/Sources/Feature/Tab/Main/Coordinator/WritingNoteCoordinator/WritingNoteScreenCore.swift
  Projects/App/Sources/Feature/Tab/Main/View/MainScene/MainCore.swift
  Projects/App/Sources/Feature/Tab/Main/View/MainScene/MainView.swift
  Projects/App/Sources/Feature/Tab/Main/View/WritingNoteScene/WritingNoteCore.swift
  Projects/App/Sources/Feature/Tab/Main/View/WritingNoteScene/WritingNoteView.swift
  Projects/App/Sources/Feature/Tab/View/TabBarCore.swift
  Projects/App/Sources/Feature/Tab/View/TabBarItem.swift
  Projects/App/Sources/Feature/Tab/View/TabBarView.swift
Labels: ⚙️Feature
